#cursor {
  position: fixed;
  width: 14px;
  height: 14px;
  background: var(--accent);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: width .25s var(--ease), height .25s var(--ease), background .25s;
  mix-blend-mode: difference;
}

#cursor-ring {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1.5px solid rgba(255, 255, 255, .25);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width .4s var(--ease), height .4s var(--ease), border-color .3s, transform .1s linear;
}

body:has(a:hover) #cursor,
body:has(button:hover) #cursor {
  width: 22px;
  height: 22px;
}

body:has(a:hover) #cursor-ring,
body:has(button:hover) #cursor-ring {
  width: 56px;
  height: 56px;
  border-color: var(--accent);
}

@media(pointer:coarse) {

  #cursor,
  #cursor-ring {
    display: none
  }

  body {
    cursor: auto
  }

  button {
    cursor: pointer
  }
}